@model WebsiteBanSach.Models.TaiKhoanNhanVien

@{
    string level1 = "donhang-thongkedonhang-Trang chủ;";
    string level2 = "taikhoannhanvien-thongketaikhoan-Thống kê tài khoản nhân viên;";
    string level3 = "Thêm tài khoản";
    string Navigation = level1 + level2 + level3;
    ViewBag.Navigation = Navigation;

    ViewData["Title"] = "Thêm tài khoản";
    Layout = "_LayoutNV";
}

<h1>Thêm tài khoản</h1>

<h4>Thông tin cá nhân</h4>
<hr />
<p style="color: red;">@ViewData["ThongDiepDangKiLoi"]</p>
<div class="row">
    <div class="col-md-4">
        <form asp-controller="TaiKhoanNhanVien" asp-action="themTaiKhoan">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="tenNhanVien" class="control-label"></label>
                <input asp-for="tenNhanVien" class="form-control" />
                <span asp-validation-for="tenNhanVien" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="soDienThoai" class="control-label"></label>
                <input asp-for="soDienThoai" class="form-control" />
                <span asp-validation-for="soDienThoai" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="vaiTro" class="control-label"></label>
                <br />
                @foreach (string vaiTro in new[] { "quản lý", "nhân viên" })
                {
                    <input type="radio" asp-for="vaiTro" value="@vaiTro" />@vaiTro
                }
                <span asp-validation-for="vaiTro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="matKhau" class="control-label"></label>
                <input type="password" asp-for="matKhau" class="form-control" />
                <span asp-validation-for="matKhau" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Xác nhận mật khẩu</label>
                <input type="password" name="xacNhanMatKhau" class="form-control" />
                <span name="xacNhanMatKhau" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="trangThai" /> @Html.DisplayNameFor(model => model.trangThai)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Thêm" class="btn btn-primary" />
                <a href="./themTaiKhoan" class="btn btn-primary">Tải lại</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
