@model WebsiteBanSach.Models.LoaiSach

@{
    string level1 = "donhang-thongkedonhang-Trang chủ;";
    string level2 = "sach-thongkeloaisach-Thống kê loại sách;";
    string level3 = "Cập nhập thông tin loại sách";
    string Navigation = level1 + level2 + level3;
    ViewBag.Navigation = Navigation;

    ViewData["Title"] = "Sửa thông tin loại sách";
    Layout = "_LayoutNV";
}

<h1>Cập nhập thông tin loại sách</h1>

<h4>thông tin loại sách</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="SuaThongTinLoaiSach">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="idLoai" />
            <div class="form-group">
                <label asp-for="tenLoai" class="control-label"></label>
                <input asp-for="tenLoai" class="form-control" />
                <span asp-validation-for="tenLoai" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="moTa" class="control-label"></label>
                <input asp-for="moTa" class="form-control" />
                <span asp-validation-for="moTa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Cập nhập" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
