@model WebsiteBanSach.Models.LoaiSach

@{
    ViewData["Title"] = "Thêm loại sách";
    Layout = "_LayoutNV";
}

<h1>Thêm loại sách</h1>

<h4>Thông tin loại sách</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="themLoaiSach">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="tenLoai" class="control-label">Loại sách</label>
                <input asp-for="tenLoai" class="form-control" />
                <span asp-validation-for="tenLoai" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="moTa" class="control-label">Mô tả</label>
                <input asp-for="moTa" class="form-control" />
                <span asp-validation-for="moTa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Thêm" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
